.BombPage {
  min-height: 100vh;
  overflow: hidden;
  background-image: url("./public/images/runbackground.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .titlePageBomb {
    text-align: center;
    height: 50%;
  }

  .largeBox {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-top: 35vh;
  }
  .titlePageBomb {
    color: white;
  }

  .concurentContainer {
    border: 5px solid transparent;
    width: 15vw;
    border-radius: 15px;
    background: linear-gradient(var(--hero-color), var(--vilain-color))
      border-box;
    animation: zoom-in-zoom-out 2s ease infinite;
  }
  .secondConcurentContainer {
    height: 46vh;
    width: 15vw;
    border: 5px solid transparent;
    border-radius: 15px;
    background: linear-gradient(var(--hero-color), var(--vilain-color))
      border-box;
    animation: zoom-in-zoom-out 2s ease infinite;
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .mainContainer {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }

  .bombCard1 {
    background-color: aliceblue;
    border-radius: 20px;
    width: 100%;
  }

  .bombCard2 {
    background-color: aliceblue;
    border-radius: 20px;
    width: 100%;
  }
}
