.BombPage {
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/runbackground.png");
  background-repeat: no-repeat;
  background-size: cover; /* Changed from '100%' to 'cover' for better scaling */
  display: flex;
  flex-direction: column;
  align-items: center;

  .containerTimer {
    background-repeat: no-repeat;
    // position: absolute;
    text-align: center;
    font-size: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20vh;

    .timer {
      background-color: transparent;
      border: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease;
      cursor: pointer;
      &:disabled {
        cursor: initial;
      }
      &:hover {
        transform: scale(1.1);
      }
      img {
        width: 25vw;
      }
    }

    .test {
      position: absolute;
      font-size: 70px;
      color: white;
    }
  }

  .namePlayers {
    gap: 40%;
  }

  .logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    height: 20vh;
    p {
      text-shadow: 5px 5px 2px black;
      text-decoration: overline;
      color: white;
    }
  }

  .logoFight {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20vw;
  }

  .titlePageBomb {
    text-align: center;
    height: 10%;
    font-size: 4.5vw; /* Adjusted font size to be responsive */
    padding-top: 0%;
  }

  .largeBox {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-top: 35vh;
  }
  .titlePageBomb {
    color: white;
  }

  .concurentContainer {
    border: 5px solid transparent;
    width: 15vw;
    border-radius: 15px;
    object-fit: contain;
    background: linear-gradient(var(--hero-color), var(--vilain-color))
      border-box;
    animation: zoom-in-zoom-out 2s ease infinite;
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .inlineDiv {
    height: 44.5vh;
    border-radius: 15px;
    background-color: rgb(39, 35, 35);
  }
  .ContainerImageBomb {
    background-repeat: no-repeat;
    background-size: contain;
    top: 10%;
    height: 30vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-bottom: 30%;
    overflow: hidden;
  }

  .mainContainer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw;
  }

  .bombCard1 {
    background-color: aliceblue;
    border-radius: 20px;
    width: 100%;
  }

  .bombCard2 {
    background-color: aliceblue;
    border-radius: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .BombPage {
    height: 100vh;
    overflow: hidden;
    background-image: url("./public/images/runbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .titlePageBomb {
      font-size: 40px;
    }

    .containerTimer {
      background-repeat: no-repeat;
      text-align: center;
      font-size: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .timer {
        background-color: transparent;
        border: none;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }

      .test {
        position: absolute;
        font-size: 2.5vw;
      }
    }
  }
}
