.BombPage {
  min-height: 100vh;
  overflow: hidden;
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .titlePageBomb {
    text-align: center;
    height: 50%;
  }
  p {
    font-size: 35px;
    color: white;
    color: #ffffff;
    text-align: center;
    margin-right: 55%;
    margin-top: 15%;
    // transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow:
      0 0 20px rgba(10, 175, 230, 1),
      0 0 20px rgba(10, 175, 230, 0);
  }
  .largeBox {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-top: 35vh;
  }
  .titlePageBomb {
    color: white;
  }
  .concurentContainer {
    border: 5px solid transparent;
    height: 46vh;
    width: 15vw;
    margin-right: 20%;
    border-radius: 15px;
    background: linear-gradient(var(--hero-color), var(--vilain-color))
      border-box;
  }
  .secondConcurentContainer {
    height: 46vh;
    width: 15vw;
    border: 5px solid transparent;
    border-radius: 15px;
    background: linear-gradient(var(--hero-color), var(--vilain-color))
      border-box;
  }
  .inlineDiv {
    height: 44.5vh;
    border-radius: 15px;
    background-color: rgb(39, 35, 35);
  }
  .ContainerImageBomb {
    background-image: url("/public/images/Bomb.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 5%;
    height: 40vh;
    width: 30vw;
    left: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-bottom: 30%;
    overflow: hidden;
  }

  .ButtonBombFight {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
    width: 20%;
    height: 40px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: white;
    cursor: pointer;
  }
  .animationRun {
    animation-name: run1;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }

  @keyframes run1 {
    0% {
      transform: translate(0px, 0px);
    }
    15% {
      transform: rotate(10deg) translate(5vw, -5vw);
    }
    25% {
      transform: translate(10vw, 0);
    }
    40% {
      transform: rotate(10deg) translate(15vw, -5vw);
    }
    50% {
      transform: translate(20vw, 0);
    }
    65% {
      transform: rotate(10deg) translate(25vw, -10vw);
    }
    75% {
      transform: translate(30vw, 0);
    }
    90% {
      transform: rotate(10deg) translate(50vw, -20vw);
    }
    100% {
      transform: translate(60vw, 0);
    }
  }
  .animationRun2 {
    animation-name: run2;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }

  @keyframes run2 {
    0% {
      transform: translate(0px, 0px);
    }
    15% {
      transform: rotate(10deg) translate(8vw, -5vw);
    }
    25% {
      transform: translate(15vw, 0);
    }
    40% {
      transform: rotate(10deg) translate(25vw, -5vw);
    }
    50% {
      transform: translate(30vw, 0);
    }
    65% {
      transform: rotate(90deg) translate(0, -50vw);
    }
    100% {
      transform: rotate(90deg) translate(0, -50vw);
    }
  }
}
