.fightPage {
  background-image: url("/public/images/ringboxe.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 2em;
  height: 100vh;
  width: 100vw;

  .logoBox {
    display: flex;
    justify-content: center;
  }

  .logoFight {
    width: 40%;
  }
}
