.fightPage {
  background-image: url("/public/images/ringboxe.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 2%;
  font-size: 1.5em;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .logoBox {
    display: flex;
    justify-content: center;
  }

  .logoFight {
    width: 40%;
  }

  @media (max-width: 1100px) {
    .logoFight {
      width: 30%;
    }
  }
}

@media (max-width: 1100px) {
  .fightPage {
    font-size: 1em;
  }
}
