.firstContainer2 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgb(165, 2, 5) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.firstContainer2 img {
  box-sizing: border-box;
  width: 60vh;
  height: 75vh;
  background: url("captainamerica.png");
  border: 3px solid red;
  border-radius: 20px;
}

.secondContainer2 {
  width: 100vw;
  height: 10vh;
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 75px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.firstText2 {
  font-size: 3vw;
}

.firstButton2 {
  width: 20vw;
  font-size: 30px;
  font-style: normal;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid rgb(247, 222, 89);
  cursor: pointer;
  transition:
    background-color 300ms,
    color 300ms;
  color: rgb(247, 222, 89);
  background-color: transparent;
}

.firstButton2:hover {
  background-color: rgb(247, 222, 89);
  color: black;
}

@media screen and (max-width: 960px) {
  .firstContainer2 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    gap: 10px;
  }

  .firstContainer2 img {
    box-sizing: border-box;
    width: 70vh;
    height: 70vh;
    object-fit: cover;
  }

  .secondContainer2 {
    width: 100vw;
    height: 10vh;
    font-size: 30px;
    line-height: 75px;
  }

  .firstButton2 {
    width: 30vw;
    font-size: 20px;
  }

  .firstText2 {
    font-size: 30px;
  }
}
