.ChooseFighter {
  background-image: url("../public/images/fond_choice_perso.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-right: 10px;

  .BoxParent {
    width: 100%;
    height: 50vh;
    padding-bottom: 30px;

    .fighterContainer {
      display: flex;
      justify-content: space-around;
    }

    img {
      border-radius: 20px;
    }
  }

  .buttonFight {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    width: 40%;
    height: 40px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: white;
  }

  .choiceHero {
    border: none;
    background: none;
  }

  .boxSelected {
    width: 250px;
  }

  .displayHeroesSelected {
    display: flex;
    align-items: center;
  }

  .selectHero1 {
    margin-right: 10px;
  }

  .vs {
    font-size: 45px;
    color: white;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1260px) {
}
