.ChooseFighter {
  background-image: url("../public/images/fond_choice_perso.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.BoxParent {
  display: flex;
  width: 100vw;
  height: 68vh;
  flex-shrink: 0;
  justify-content: space-around;

  img {
    border-radius: 20px;
    margin: 30px auto;
  }
}

.buttonFight {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
  width: 40%;
  height: 40px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  background-color: black;
  border-radius: white;
}

.choiceHero {
  border: none;
}

.boxSelected {
  width: 300px;
}

.displayHeroesSelected {
  display: flex;
  align-items: center;
}

.selectHero1 {
  margin-right: 10px;
}
