.run {
  position: relative;
  background-image: url("./public/images/RunPage.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.runContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4vw;
}

.runTitle {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(247, 222, 89);
  padding: 1%;
  border-radius: 20px;
  width: 20%;
  font-size: 30px;
  border: 3px solid black;
}

.runVersus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
}

.Run1,
.Run2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 5%;
  border-radius: 20px;
  width: 20vw;
  height: 1vh;
  border: 3px solid black;
}

.runLogo {
  background-color: transparent !important;
}

.runCard1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: aliceblue;
  border-radius: 20px;
  height: 25%;
  border: 5px solid black;
  transform: rotate(75deg);
}

.runCard2 {
  position: absolute;
  bottom: 2%;
  left: 15%;
  background-color: aliceblue;
  border-radius: 20px;
  height: 25%;
  border: 5px solid black;
  transform: rotate(75deg);
}

.resultRun {
  background-color: black;
  color: white;
  padding: 1% 3% 1% 3%;
  border-radius: 30px;
  font-size: 3vw;
  width: 15vw;
  align-self: center;
}

.timer {
  display: flex;
  justify-content: center;
  font-size: 15vw;
  color: white;
}

.animationRun {
  animation-name: run1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes run1 {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: rotate(10deg) translate(5vw, -5vw);
  }
  25% {
    transform: translate(10vw, 0);
  }
  40% {
    transform: rotate(10deg) translate(15vw, -5vw);
  }
  50% {
    transform: translate(20vw, 0);
  }
  65% {
    transform: rotate(10deg) translate(25vw, -10vw);
  }
  75% {
    transform: translate(30vw, 0);
  }
  90% {
    transform: rotate(10deg) translate(50vw, -20vw);
  }
  100% {
    transform: translate(80vw, 0);
  }
}
.animationRun2 {
  animation-name: run2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes run2 {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: rotate(10deg) translate(8vw, -5vw);
  }
  25% {
    transform: translate(15vw, 0);
  }
  40% {
    transform: rotate(10deg) translate(25vw, -5vw);
  }
  50% {
    transform: translate(30vw, 0);
  }
  65% {
    transform: rotate(90deg) translate(0, -35vw);
  }
  100% {
    transform: rotate(90deg) translate(0, -45vw);
  }
}
.animationUpRun {
  animation-name: runUp1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes runUp1 {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: rotate(10deg) translate(5vw, -5vw);
  }
  25% {
    transform: translate(10vw, 0);
  }
  40% {
    transform: rotate(10deg) translate(15vw, -5vw);
  }
  50% {
    transform: translate(20vw, 0);
  }
  60% {
    transform: rotate(10deg) translate(25vw, -10vw);
  }
  70% {
    transform: translate(30vw, 0);
  }
  80% {
    transform: rotate(10deg) translate(50vw, -20vw);
  }
  100% {
    transform: translate(70vw, 0);
  }
}
.animationUpRun2 {
  animation-name: runUp2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes runUp2 {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: rotate(10deg) translate(12vw, -5vw);
  }
  25% {
    transform: translate(25vw, 0);
  }
  40% {
    transform: rotate(10deg) translate(35vw, -5vw);
  }
  50% {
    transform: translate(40vw, 0);
  }
  65% {
    transform: rotate(90deg) translate(3vw, -45vw);
  }
  100% {
    transform: rotate(90deg) translate(3vw, -55vw);
  }
}
