.run {
  position: relative;
  background-image: url("./public/images/RunPage.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.runContainer {
  display: flex;
  justify-content: center;
}

.runTitle {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(247, 222, 89);
  padding: 1%;
  border-radius: 20px;
  width: 20%;
  font-size: 30px;
  border: 3px solid black;
}

.runVersus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
}

.Run1,
.Run2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 5%;
  border-radius: 20px;
  width: 20vw;
  height: 1vh;
  border: 3px solid black;
}

.runLogo {
  background-color: transparent !important;
}

.runCard1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: aliceblue;
  padding: 8%;
  border-radius: 20px;
  width: 10%;
  height: 25%;
  border: 5px solid black;
}

.runCard2 {
  position: absolute;
  bottom: 2%;
  left: 15%;
  background-color: aliceblue;
  padding: 8%;
  border-radius: 20px;
  width: 10%;
  height: 25%;
  border: 5px solid black;
}
