.wikiHero {
  background-image: url("../../../images/Wiki_Heroes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  .displayHeroes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 100vw;
    padding: 5%;
  }

  .wikiFilters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 2%;

    input {
      border-radius: 15px;
      height: 30px;
    }

    img {
      height: 10vh;
    }
    img:hover {
      cursor: pointer;
    }
    .filterBad {
      opacity: 50%;
    }
    .filterGood {
      opacity: 50%;
    }
  }
}
