.firstContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 0, 255, 1) 100%
  );
}

.firstContainer img {
  box-sizing: border-box;

  position: absolute;
  width: 60vh;
  height: 75vh;
  left: 33%;
  top: 5%;

  background: url("captainamerica.png");
  border: 3px solid #0075ff;
  border-radius: 20px;
}

.secondContainer {
  position: absolute;
  width: 55vw;
  height: 10vh;
  left: 22%;
  top: 85%;

  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 75px;

  color: rgba(8, 0, 255, 1);
}

.firstButton {
  position: absolute;
  left: 60%;
  top: 15%;
  width: 20vw;
  font-size: 30px;

  font-style: normal;

  padding: 10px;
  border-radius: 30px;
  border: 2px solid rgb(247, 222, 89);

  cursor: pointer;
  transition:
    background-color 300ms,
    color 300ms;
  color: rgb(247, 222, 89);
  background-color: transparent;
}

.firstButton:hover {
  background-color: rgb(247, 222, 89);
  color: black;
}

@media screen and (max-width: 1400px) {
  .firstButton {
    position: absolute;
    left: 90%;
    top: 15%;
    width: 20vw;
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .firstContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .firstContainer img {
    box-sizing: border-box;
    width: 70vh;
    height: 70vh;
    left: 33%;
    top: 5%;
  }

  .secondContainer {
    position: absolute;
    width: 30vw;
    height: 10vh;
    left: 25%;
    top: 75%;
    font-size: 30px;
    line-height: 75px;
  }

  .firstButton {
    position: absolute;
    left: 100%;
    top: 40%;
    width: 20vw;
    font-size: 20px;
  }
}
