.firstContainer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 0, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.firstContainer img {
  box-sizing: border-box;
  width: 60vh;
  height: 75vh;
  background: url("captainamerica.png");
  border: 3px solid #0075ff;
  border-radius: 20px;
}

.secondContainer {
  width: 100vw;
  height: 10vh;
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 75px;
  color: rgba(8, 0, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.firstText {
  font-size: 3vw;
}

// beginninf of button new game :
.firstButton button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  margin: 20px;
  color: #ffdd57;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.firstButton button:before,
.firstButton button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffdd57;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.firstButton button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.firstButton button:after {
  left: 0;
  bottom: 0;
}

.firstButton button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.firstButton button span:before,
.firstButton button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffdd57;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.firstButton button span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.firstButton button span:after {
  left: 0;
  bottom: 0;
}

.firstButton button p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.firstButton button p:before,
.firstButton button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.firstButton button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.firstButton button p:after {
  content: attr(data-text);
  top: 150%;
  color: #ffdd57;
}

.firstButton button:hover:before,
.firstButton button:hover:after {
  width: 100%;
}

.firstButton button:hover span {
  z-index: 1;
}

.firstButton button:hover span:before,
.firstButton button:hover span:after {
  height: 100%;
}

.firstButton button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.firstButton button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.firstButton button.start {
  background-color: #44d8a4;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.firstButton button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.firstButton button.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.firstButton button.start:hover:before,
.firstButton button.start:hover:after {
  display: none;
}

.firstButton button.start:hover span {
  display: none;
}
// end of button new fight

@media screen and (max-width: 960px) {
  .firstContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    gap: 10px;
  }

  .firstContainer img {
    box-sizing: border-box;
    width: 70vh;
    height: 70vh;
  }

  .secondContainer {
    width: 100vw;
    height: 10vh;
    font-size: 30px;
    line-height: 75px;
  }

  .firstButton {
    top: 40%;
    width: 30vw;
    font-size: 20px;
  }

  .firstText {
    font-size: 30px;
  }
}
