.healthBar {
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

.healthBarFighters {
  border: 2px solid black;
  border-radius: 50px;
  background-color: var(--secondary-color);
  padding: 1%;
}
