.healthBar {
  display: flex;
  justify-content: space-around;
  margin: 10% 0 5% 0;
}

.healthBarFighters {
  border: 2px solid black;
  border-radius: 50px;
  background-color: var(--secondary-color);
  padding: 1%;
}
