.healthBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .namePlayers {
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 3vw;
  }

  .healthBar2players {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
  }

  .healthBarContainer {
    border-radius: 50px;
  }

  .healthBar1Player {
    display: flex;
    gap: 2%;
  }

  .levelhealthBar {
    width: 20vw;
    height: 6vh;
    border: 2px solid black;
    display: flex;
    align-items: stretch;
    background-color: rgb(43, 43, 43);
    box-shadow: 0px 0px 20px black;
    overflow: hidden;
    border-radius: 50px;
    color: black;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .bar {
    width: 0;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgb(251, 233, 165) 0%,
      rgb(250, 226, 127) 32%,
      var(--secondary-color) 100%
    );
  }

  .textLevelHealthBar {
    display: flex;
    font-weight: bold;

    p {
      font-size: 2vw;
      color: white;
    }
    .lastP {
      padding-right: 3vw;
    }
  }

  @media screen and (max-width: 1100px) {
    .namePlayers {
      color: white;
    }
  }
}
