.contenerImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sizeChooseFighter {
  transition: transform 0.1s;
  width: 120px;
  gap: 2px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
