.contenerImage {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.sizeChooseFighter {
  transition: transform 0.1s;
  width: 100px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
