.contenerImage .carousel-container {
  height: 200px;
  ul {
    gap: 15px;
  }
}

.sizeChooseFighter {
  transition: transform 0.1s;
  width: 100px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

@media (max-width: 668px) and (max-height: 376px) {
  .contenerImage .carousel-container {
    height: 130px;
    ul,
    li {
      width: 60px;
    }
  }
}
