.wikiCard {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;
  background: linear-gradient(
    0.5turn,
    var(--hero-color),
    black,
    var(--vilain-color)
  );

  .wikiCard-top {
    padding-left: 2%;
  }

  .wikiCard-bottom,
  .wikiCard-top {
    height: 100%;
    background-color: white;
  }

  h6 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    text-transform: uppercase;
  }

  h5 {
    text-decoration: underline;
    text-transform: uppercase;
  }

  label,
  meter,
  p {
    font-size: 0.8rem;
    display: block;
  }

  .wikiCard-bottom-bis {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

// responsive :

@media screen and (max-width: 900px) {
  .wikiCard {
    padding-left: 8px;
    padding-left: 8px;
    gap: 8px;

    h6 {
      font-size: 1rem;
    }

    h5 {
      font-size: 0.8rem;
    }

    label,
    meter,
    p {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .wikiCard {
    h6 {
      font-size: 0.8rem;
    }

    h5 {
      font-size: 0.7rem;
    }

    label,
    meter,
    p {
      font-size: 0.6rem;
    }
  }
}

@media screen and (max-width: 450px) {
  h6 {
    font-size: 2px;
  }

  h5 {
    font-size: 0.8rem;
  }

  label,
  meter,
  p {
    font-size: 0.6rem;
  }
}
