.wikiCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 15px;
  width: 25%;
  background: linear-gradient(180deg, #001c3d 0%, rgba(59, 0, 0, 0.49) 100%);
  padding: 20px;
}

.wikiCard-top {
  padding-left: 2%;
}

.wikiCard-bottom,
.wikiCard-top {
  height: 100%;
  background-color: white;
}

p {
  font-size: 0.8rem;
  margin-left: 10px;
  margin-bottom: 5px;
}

h6 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

h5 {
  text-decoration: underline;
  text-transform: uppercase;
}

label,
meter {
  font-size: 0.8rem;
  display: block;
}

.wikiCard-bottom-bis {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// responsive :

@media screen and (max-width: 800px) {
  .wikiCard {
    width: 40%;
  }
  h6 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  label,
  meter,
  p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 650px) {
  .wikiCard {
    width: 40%;
  }

  h6 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  label,
  meter,
  p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 450px) {
  .wikiCard {
    width: 50%;
  }

  h6 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  label,
  meter,
  p {
    font-size: 0.6rem;
  }
}
